body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol, ul {
  padding-left: 30px;
}

li {
  padding: 5px 0;
  color: #2196F3;
  font-weight: 500;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}

h3 {
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.game {
  width: 525px;
  margin: 0 auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square:hover {
    background-color: #f1f1f1;
}
.square {
  background: #fff;
  cursor: pointer;
  border: 1px solid #999;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 75px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 40px;
  border-left: 1px dotted #ddd;
  padding-left: 30px;
}

